
TRONWEB_PROVIDER=https://api.shasta.trongrid.io

TRON_PRO_API_KEY=""

TRON_WALLET_PRIVATE_KEY=

MUON_API_URL="http://localhost:8000/v1"
MUON_CONTRACT_ADDRESS="TCtHhEtuh3QKh5a9zyf4YTAdgS5xaaV2D7"
SAMPLE_CONTRACT_ADDRESS="TKnQm9sRv8EDYNu1r5TuDkhqzmptyPfc5D"
